{{ $page := . }}

{{ $auto := $page.Param "params.disable_auto_schema" | not }}
{{ $pageBase := $page.Param "params.base_schema" }}
{{ $siteBase := site.Param "params.base_schema" }}

{{ range $page.Param "params.schemas" }}
    {{ if $siteBase }}
        <script type="application/ld+json">{{ merge $siteBase . | jsonify | safeJS }}</script>
    {{ else }}
        <script type="application/ld+json">{{ . | jsonify | safeJS }}</script>
    {{ end }}
{{ end }}

{{ if $auto }}
    {{ $audio := $page.Params.audio | default slice }}
    {{ $authors := partial "func-authors.html" $page }}
    {{ $copyright := site.Copyright | markdownify | plainify | htmlUnescape }}
    {{ $created := $page.Date }}
    {{ $description := $page.Description | markdownify | plainify | htmlUnescape }}
    {{ $expires := cond (not $page.ExpiryDate.IsZero) $page.ExpiryDate false }}
    {{ $images := $page.Params.images | default slice }}
    {{ $keywords := partial "func-keywords.html" $page }}
    {{ $language := site.LanguageCode }}
    {{ $license := $page.Param "params.license" | markdownify | plainify | htmlUnescape }}
    {{ $modified := cond (not $page.Lastmod.IsZero) $page.Lastmod false }}
    {{ $published := cond (and (not $page.PublishDate.IsZero) (ne $page.Date $page.PublishDate)) $page.PublishDate false }}
    {{ $schema := newScratch }}
    {{ $section := $page.CurrentSection.Title | markdownify | plainify | htmlUnescape }}
    {{ $summary := $page.Summary | markdownify | plainify | htmlUnescape | chomp }}
    {{ $time := printf "PT%dM" $page.ReadingTime }}
    {{ $title := $page.Title | markdownify | plainify | htmlUnescape }}
    {{ $videos := $page.Params.videos | default slice }}
    {{ $words := $page.WordCount }}

    {{ $schema.Set "@context" "https://schema.org" }}
    {{ $schema.Set "@type" "Article" }}
    {{ $schema.Set "url" $page.Permalink }}

    {{ with $summary }}
        {{ $schema.Set "abstract" . }}
    {{ end }}

    {{ with $description }}
        {{ $schema.Set "alternativeHeadline" . }}
    {{ end }}

    {{ with $section }}
        {{ $schema.Set "articleSection" . }}
    {{ end }}

    {{ with $audio }}
        {{ $objects := slice }}

        {{ range $audio }}
            {{ $objects = $objects | append (dict "@type" "AudioObject" "url" .) }}
        {{ end }}

        {{ $schema.Set "audio" $objects }}
    {{ end }}

    {{ with $authors }}
        {{ $objects := slice }}

        {{ range $authors }}
            {{ $email := .Params.author.email }}
            {{ $name := .Params.author.name | default (.Title | markdownify | plainify | htmlUnescape) }}
            {{ $url := .Params.author.url }}

            {{ if or $email $name $url }}
                {{ $object := newScratch }}

                {{ with $email }}
                    {{ $object.Set "email" . }}
                {{ end }}

                {{ with $name }}
                    {{ $object.Set "name" . }}
                {{ end }}

                {{ with $url }}
                    {{ $object.Set "url" . }}
                {{ end }}

                {{ $object.Set "@type" "Person" }}
                {{ $objects = $objects | append $object.Values }}
            {{ end }}
        {{ end }}

        {{ $schema.Set "author" $objects }}
    {{ end }}

    {{ with $copyright }}
        {{ $schema.Set "copyrightNotice" . }}
    {{ end }}

    {{ with $created }}
        {{ $schema.Set "dateCreated" . }}
    {{ end }}

    {{ with $modified }}
        {{ $schema.Set "dateModified" . }}
    {{ end }}

    {{ with $published }}
        {{ $schema.Set "datePublished" . }}
    {{ end }}

    {{ with $description }}
        {{ $schema.Set "description" . }}
    {{ end }}

    {{ with $expires }}
        {{ $schema.Set "expiresAt" . }}
    {{ end }}

    {{ with $title }}
        {{ $schema.Set "headline" . }}
    {{ end }}

    {{ with $images }}
        {{ $objects := slice }}

        {{ range $images }}
            {{ $objects = $objects | append (dict "@type" "ImageObject" "url" .) }}
        {{ end }}

        {{ $schema.Set "image" $objects }}
    {{ end }}

    {{ with $language }}
        {{ $schema.Set "inLanguage" . }}
    {{ end }}

    {{ with $keywords }}
        {{ $schema.Set "keywords" . }}
    {{ end }}

    {{ with $license }}
        {{ $schema.Set "license" . }}
    {{ end }}

    {{ with $title }}
        {{ $schema.Set "name" . }}
    {{ end }}

    {{ with $time }}
        {{ $schema.Set "timeRequired" . }}
    {{ end }}

    {{ with $videos }}
        {{ $objects := slice }}

        {{ range $videos }}
            {{ $objects = $objects | append (dict "@type" "VideoObject" "url" .) }}
        {{ end }}

        {{ $schema.Set "video" $objects }}
    {{ end }}

    {{ with $words }}
        {{ $schema.Set "wordCount" . }}
    {{ end }}

    {{ if $pageBase }}
        <script type="application/ld+json">{{ merge $pageBase $schema.Values | jsonify | safeJS }}</script>
    {{ else }}
        <script type="application/ld+json">{{ $schema.Values | jsonify | safeJS }}</script>
    {{ end }}
{{ end }}